//ul#tabs.nav.nav-tabs
  li: a(data-toggle='tab', data-target='#selector')= self.t('selector')
  li: a(data-bind="css: { disabled: !selectedCount() }, attr: { 'data-toggle': selectedCount() ? 'tab' : '' }",
        data-target='#names-editor')= self.t('names_editor')
  li: a(data-bind="css: { disabled: !selectedCount() }, attr: { 'data-toggle': selectedCount() ? 'tab' : '' }",
        data-target='#codes-editor')= self.t('codes_editor')
  li: a(href='https://github.com/fontello/fontello/wiki/Help', target='_blank'): strong= self.t('help')


.navbar(style="margin: 0px")
  .container-fluid
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.collapse.navbar-responsive-collapse
      ul#tabs.nav.navbar-nav
        li: a(data-toggle='tab', data-target='#selector')= self.t('selector')
        li: a(data-bind="css: { disabled: !selectedCount() }, attr: { 'data-toggle': selectedCount() ? 'tab' : '' }",
        data-target='#names-editor')= self.t('names_editor')
        //li: a(data-bind="css: { disabled: !selectedCount() }, attr: { 'data-toggle': selectedCount() ? 'tab' : '' }",
        //data-target='#codes-editor')= self.t('codes_editor')
        //li: a(href='https://github.com/ilikerobots/fontello/wiki/Help', target='_blank'): strong= self.t('help')
      ul.nav.navbar-nav.navbar-right
        li#tools.dropdown
          a.dropdown-toggle(href="javascript:void(0);", data-target="#tools", data-toggle="dropdown")=self.t('menu_actions')
            b.caret
          ul.dropdown-menu
            li: a(
                href='#',
                onClick='document.getElementById("toolbar__import").click()'
                data-content=self.t('menu_import_help'),
                data-placement='left',
                data-trigger='hover',
                data-container='.layout__fixed'
                data-delay='{"show":500,"hide":100}'
              )._popover= self.t('menu_import')
            li: a.divider
            li: a.dropdown-header="Dropdown header"
            li: a(href='#', data-on-click='cmd:reset_selected')= self.t('menu_unselect_all')
            li: a(href='#', data-on-click='cmd:reset_all')= self.t('menu_reset_all')
